div.clear
footer.page-footer
  p.footer-links <a href="/employers">Employers</a> | <a href="/users">Jobseekers</a> | <a href="/jobs/categories">Job Categories</a> | <a href="/company/about">About Us</a> | <a href="/company/guide">Guide</a> | <a href="/company/advertise">Advertise</a> | <a href="/company/terms">Terms &amp; Conditions</a> | <a href="/company/terms/cookies">Cookies</a> | <a href="/sitemap">Sitemap</a>
  section.footer-left
    p.copyright &copy; Copyright #{currentYear} #{title}. All rights reserved.
  section.footer-right
    p Powered by <a href="http://nodejs.org/">Node.js</a>
  div.clear