header.page-header
  h1.logo
    a(href="#{homeUrl}") placement<span class="dot">.</span><span class="ie">ie</span>
  section.login-register
    div.register
      a(href="/users/new") Register
    div.separator
      div.line
      span or
    form#login(action="/users/login", method="GET")
      input.username(type="text", name="username", value="Username")
      input.password(type="password", name="password", value="")
      input.password-watermark(type="text", value="Password")
      input.submit(type="submit", value="GO")