section.sidebar
  div.sidebar-section.sidebar-employers
    div.section-title
      h2 Employers
    - for (i = 0; i < 2; i++) {
      div.sidebar-section-item
        a.sidebar-section-item-photo.company-photo(href="#")
        div.sidebar-section-item-text.company-text
          h4.sidebar-section-item-title.company-name
            a(href="#") Sample Company
          p.meta-data Industry: Technology
          p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        div.clear
    - }
  div.sidebar-section.sidebar-candidates
    div.section-title
      h2 Jobseekers
    - for (i = 0; i < 2; i++) {
      div.sidebar-section-item
        a.sidebar-section-item-photo.candidate-photo(href="#")
        div.sidebar-section-item-text.candidate-text
          h4.sidebar-section-item-title.candidate-name
            a(href="#") Joe Bloggs
          p.meta-data Seeking Role: Web Developer
          p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        div.clear
    - }