extends layout

block content
  section.main-content.user-main-content
    div.section-title
      h2 Hello #{username}
    div.main-content-padded
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin laoreet feugiat sapien a interdum. Cras et magna sit amet lectus auctor luctus. Donec consequat diam nec nibh iaculis pulvinar. Sed id ipsum nibh, aliquam facilisis dui. Etiam bibendum aliquam ligula placerat sollicitudin. Nam at ligula tortor, id malesuada enim. Mauris consequat dapibus mauris ac ornare. Suspendisse tristique rutrum augue sed tempor. Nam in blandit enim. Ut ut lorem nunc. Sed tortor nisl, tempus nec interdum ut, interdum et diam. Suspendisse euismod accumsan iaculis. Morbi ut erat vel mi laoreet consectetur id vel ipsum. Donec id purus est, ac adipiscing tellus. Donec porta iaculis sapien sit amet elementum.
      p Donec eget nulla eros, mollis mollis dui. Donec eu leo nec lorem tincidunt accumsan eu at tortor. Etiam in nulla ac odio tincidunt hendrerit. Nam non velit consequat est fermentum pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec suscipit placerat ultricies. Nam viverra, eros quis tempor sollicitudin, ipsum augue tincidunt augue, et laoreet justo enim quis mauris.