extends layout

block content
  section.main-content.register-main-content
    div.section-title
      h2 Register
    div.main-content-padded
      form#update-user.form-display(action="/users/username", method="POST")
