doctype 5
html
    head
        title #{title} | #{subtitle}
        link(rel="stylesheet", href="/stylesheets/reset.css")
        link(rel="stylesheet", href="/stylesheets/main.css")
        script(src="/javascripts/jquery.js")
        script(src="/javascripts/visuals.js")
        script(src="/javascripts/forms.js")
    body
        section.wrapper
            - if (user)
                include includes/header-user
            - else if (employer)
                include includes/header-employer
            - else
                include includes/header
            block content
            include includes/sidebar
            include includes/footer