extends layout

block content
    section.main-content.remove-employer-main-content
        div.section-title
            h2 Remove Account
        div.main-content-padded
            form#remove-employer.form-display(action="/employers/#{employer.username}", method="POST", enctype="multipart/form-data")
                input(type="hidden", name="_method", value="DELETE")
                h3.form-heading Are you sure?
                hr

                p If you are sure you want to delete your company's profile, click the button below.

                input(type="submit", id="remove-submit", class="submit-button", value="Delete Profile")